# GDP Data
Retrieved from United Nations: https://unstats.un.org/unsd/snaama/Basic

In [18]:
import pandas as pd
import scipy.stats as stats
import numpy as np

In [57]:
countries = pd.read_csv('bias/countries.csv')
countries.head()

             name iso_code economic_region maxmind_continent
0     Afghanistan       AF    Global South              Asia
1   Åland Islands       AX    Global North            Europe
2         Albania       AL    Global North            Europe
3         Algeria       DZ    Global South            Africa
4  American Samoa       AS    Global South           Oceania

In [58]:
gdp_percapita = pd.read_csv('gdp/GDP_percapita.csv')
gdp = pd.read_csv('gdp/GDP_current.csv')
gdp_constant = pd.read_csv('gdp/GDP_constant2015.csv')

In [ ]:
gdp_all.

In [59]:
gdp_all = gdp_constant.merge(gdp.merge(gdp_percapita, on=['Country/Area', 'Year', 'Unit']), on=['Country/Area', 'Year', 'Unit']).rename({'GDP, at current prices - US Dollars': 'GDP', 'GDP, Per Capita GDP - US Dollars': 'GDP_pc', 'GDP, at constant 2015 prices - US Dollars': 'GDP_constant'}, axis=1)
gdp_all

     Country/Area  Year Unit  GDP_constant           GDP       GDP_pc
0     Afghanistan  2015  US$  1.871305e+10  1.871305e+10   543.768940
1     Afghanistan  2016  US$  1.900285e+10  1.801956e+10   509.271172
2     Afghanistan  2017  US$  1.950585e+10  1.889635e+10   520.616409
3     Afghanistan  2018  US$  1.973782e+10  1.841885e+10   495.504343
4     Afghanistan  2019  US$  2.050989e+10  1.890449e+10   496.940553
...           ...   ...  ...           ...           ...          ...
1447     Zimbabwe  2016  US$  2.011402e+10  2.054868e+10  1464.589686
1448     Zimbabwe  2017  US$  2.106019e+10  2.204090e+10  1548.186368
1449     Zimbabwe  2018  US$  2.207732e+10  2.431156e+10  1683.765768
1450     Zimbabwe  2019  US$  2.024491e+10  2.193508e+10  1497.738092
1451     Zimbabwe  2020  US$  2.040687e+10  2.178674e+10  1465.845054

[1452 rows x 6 columns]

In [22]:
gdp_5_year_avg = gdp_all.groupby('Country/Area').mean().reset_index()
gdp_5_year_avg

       Country/Area    Year  GDP_constant           GDP        GDP_pc
0       Afghanistan  2017.5  1.959709e+10  1.879093e+10    512.425857
1            Africa  2017.5  2.498161e+12  2.371828e+12   1885.133689
2           Albania  2017.5  1.226301e+10  1.362238e+10   4724.520983
3           Algeria  2017.5  1.719536e+11  1.650621e+11   3955.246446
4          Americas  2017.5  2.611034e+13  2.689978e+13  26867.120549
..              ...     ...           ...           ...           ...
237  Western Europe  2017.5  8.472526e+12  8.895961e+12  45276.721590
238           World  2017.5  8.001196e+13  8.202366e+13  10804.386726
239           Yemen  2017.5  2.177781e+10  2.425742e+10    861.519781
240          Zambia  2017.5  2.247455e+10  2.265202e+10   1327.676558
241        Zimbabwe  2017.5  2.064440e+10  2.176435e+10   1517.532672

[242 rows x 5 columns]

In [23]:
gdp_5_year_avg[~gdp_5_year_avg['Country/Area'].isin(countries.name)]

,Country/Area,Year,GDP_constant,GDP,GDP_pc
1,Africa,2017.5,2.498161e+12,2.371828e+12,1885.133689
4,Americas,2017.5,2.611034e+13,2.689978e+13,26867.120549
12,Asia,2017.5,2.987472e+13,3.051855e+13,6717.987702
14,Australia and New Zealand,2017.5,1.507232e+12,1.574686e+12,53442.599970
27,Bolivia (Plurinational State of),2017.5,3.560623e+10,3.703429e+10,3282.919858
32,Brunei Darussalam,2017.5,1.296785e+10,1.258298e+10,29507.224892
36,Cabo Verde,2017.5,1.726314e+09,1.780166e+09,3291.651041
40,Caribbean,2017.5,3.567977e+11,3.728941e+11,8850.202805
43,Central America,2017.5,1.458005e+12,1.416998e+12,8128.249787
44,Central Asia,2017.5,3.416422e+11,2.896345e+11,4058.709797
47,China (mainland),2017.5,1.299046e+13,1.291717e+13,9065.199644
48,"China, Hong Kong SAR",2017.5,3.228211e+11,3.413853e+11,46484.669218
49,"China, Macao Special Administrative Region",2017.5,4.412893e+10,4.589864e+10,73433.177578
52,Congo,2017.5,9.973062e+09,1.148329e+10,2219.720167
59,Czechia,2017.5,2.019268e+11,2.249553e+11,21106.575612
61,Democratic People's Republic of Korea,2017.5,1.597615e+10,1.668327e+10,658.043132
67,Eastern Africa,2017.5,3.677428e+11,3.821499e+11,915.747487
68,Eastern Asia,2017.5,2.002960e+13,2.046435e+13,12304.124460
69,Eastern Europe,2017.5,2.777907e+12,2.990908e+12,10180.517516
77,Europe,2017.5,1.997395e+13,2.061077e+13,27569.579458
100,"Iran, Islamic Republic of",2017.5,4.430381e+11,5.843796e+11,7152.981099
110,Kingdom of Eswatini,2017.5,4.192238e+09,4.207934e+09,3720.068723
115,Lao People's Democratic Republic,2017.5,1.687355e+10,1.720526e+10,2450.753280
116,Latin America and the Caribbean,2017.5,5.435809e+12,5.387124e+12,8452.541706
134,Melanesia,2017.5,3.919335e+10,3.940920e+10,3710.222998
136,Micronesia,2017.5,1.079390e+09,1.179193e+09,3754.886671
137,Micronesia (Federated States of),2017.5,3.252282e+08,3.713299e+08,3310.704950
138,Middle Africa,2017.5,2.362400e+11,2.295932e+11,1383.534385
155,Northern Africa,2017.5,8.234506e+11,7.317349e+11,3123.365878
156,Northern America,2017.5,2.067453e+13,2.151265e+13,59228.998571
157,Northern Europe,2017.5,4.998042e+12,4.824785e+12,46110.373345
159,Oceania,2017.5,1.554777e+12,1.622742e+12,39572.427269
169,Polynesia,2017.5,7.272956e+09,7.467601e+09,12346.993695
173,Republic of Korea,2017.5,1.565839e+12,1.600610e+12,31322.009979
174,Republic of Moldova,2017.5,8.466854e+09,1.013827e+10,2501.941522
175,Republic of North Macedonia,2017.5,1.055875e+10,1.158964e+10,5566.326660
177,Russian Federation,2017.5,1.404350e+12,1.507124e+12,10352.634965
184,Sao Tome and Principe,2017.5,3.473566e+08,3.944758e+08,1879.813037
191,Sint Maarten (Dutch part),2017.5,9.509072e+08,1.012230e+09,24390.769741
197,South America,2017.5,3.621006e+12,3.597232e+12,8546.498954
199,South-Eastern Asia,2017.5,2.767464e+12,2.849307e+12,4367.334355
200,Southern Africa,2017.5,3.523381e+11,3.659824e+11,5608.013662
201,Southern Asia,2017.5,3.599993e+12,3.820193e+12,2023.604279
202,Southern Europe,2017.5,3.725480e+12,3.899112e+12,25544.462000
205,State of Palestine,2017.5,1.501182e+10,1.574620e+10,3273.748404
206,Sub-Saharan Africa,2017.5,1.674711e+12,1.640093e+12,1601.416177
211,Syrian Arab Republic,2017.5,1.947758e+10,1.906699e+10,1101.603255
226,United Kingdom of Great Britain and Northern I...,2017.5,3.046786e+12,2.820351e+12,42160.035632
227,United Republic of Tanzania: Mainland,2017.5,5.609722e+10,5.553310e+10,1025.640022
228,United Republic of Tanzania: Zanzibar,2017.5,1.390046e+09,1.507193e+09,963.433294
233,Venezuela (Bolivarian Republic of),2017.5,2.170799e+11,2.235559e+11,7602.219265
234,Viet Nam,2017.5,2.270271e+11,2.334318e+11,2451.707559
235,Western Africa,2017.5,7.183897e+11,6.623677e+11,1760.638898
236,Western Asia,2017.5,3.136022e+12,3.095056e+12,11531.853175
237,Western Europe,2017.5,8.472526e+12,8.895961e+12,45276.721590
238,World,2017.5,8.001196e+13,8.202366e+13,10804.386726

In [24]:
gdp_5_year_avg[gdp_5_year_avg['Country/Area'].isin(countries.name)][['GDP_pc', 'oecd']].boxplot(by='oecd')

KeyError: "['oecd'] not in index"

# OECD Data
Retrieved from Wikipedia: https://en.wikipedia.org/wiki/OECD (using https://wikitable2csv.ggor.de/)

In [65]:
oecd_members = pd.read_csv('gdp/oecd_members.csv')
oecd_members.head()

,Country,Application,Negotiations,Invitation,Membership[1],Geographic location,Notes
0,Australia,NaN,NaN,NaN,7 June 1971,Oceania,NaN
1,Austria,NaN,NaN,NaN,29 September 1961,Europe,OEEC member.[7]
2,Belgium,NaN,NaN,NaN,13 September 1961,Europe,OEEC member.[7]
3,Canada,NaN,NaN,NaN,10 April 1961,North America,NaN
4,Chile,November 2003[65][66],16 May 2007[27],15 December 2009[67],7 May 2010,South America,NaN

In [66]:
oecd_countries = set(oecd_members.Country.values)
gdp_all['oecd'] = gdp_all['Country/Area'].apply(lambda t: t in oecd_countries)

In [67]:
replace_dict = {
    'Bolivia (Plurinational State of)': 'Bolivia',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Russian Federation': 'Russia',
    'Czechia': 'Czech Republic',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Republic of Moldova': 'Moldova',
    # '': 'Taiwan',
    'Viet Nam': 'Vietnam', 
    'Republic of Moldova': 'Moldova', 
    #'Democratic Republic of the Congo': 'Republic of the Congo',
    'China (mainland)': 'China', 
    'Republic of Korea': 'South Korea', 
    # '': 'Falkland Islands', 
    'Syrian Arab Republic': 'Syria', 
    'Iran, Islamic Republic of': 'Iran',
    'China, Hong Kong SAR': 'Hong Kong', 
    "Democratic People's Republic of Korea" : 'North Korea', 
    'Bolivia (Plurinational State of)': 'Bolivia', 
    "Lao People's Democratic Republic": 'Laos',
    'Sao Tome and Principe': 'São Tomé and Príncipe',
    #'': 'Guernsey',
    # '': 'Gibraltar', No clue
    'Micronesia': 'Federated States of Micronesia', 
    # '': 'Faroe Islands', Cuonts towards denmark
    'Republic of North Macedonia': 'Macedonia',
    #'': 'Niue', Should count towards new zealand
    'United Republic of Tanzania: Mainland': 'Tanzania' # could also include zanzibar
    }
gdp_all['Country/Area'].replace(replace_dict, inplace=True)

In [68]:
gdp_all.to_csv('gdp/gdp_all.csv', index=False)

In [64]:
gdp_all[gdp_all['Country/Area'].str.contains('Congo')]

,Country/Area,Year,Unit,GDP_constant,GDP,GDP_pc
312,Congo,2015,US$,1.175061e+10,1.175061e+10,2419.765860
313,Congo,2016,US$,1.055318e+10,1.015211e+10,2038.169644
314,Congo,2017,US$,1.006424e+10,1.101165e+10,2154.629048
315,Congo,2018,US$,9.439856e+09,1.336010e+10,2547.519151
316,Congo,2019,US$,9.399156e+09,1.252504e+10,2327.854806
317,Congo,2020,US$,8.631323e+09,1.010021e+10,1830.382491
372,Democratic Republic of the Congo,2015,US$,3.791768e+10,3.791768e+10,497.316614
373,Democratic Republic of the Congo,2016,US$,3.882777e+10,4.033751e+10,511.968008
374,Democratic Republic of the Congo,2017,US$,4.026423e+10,3.764246e+10,462.445161
375,Democratic Republic of the Congo,2018,US$,4.259357e+10,4.714600e+10,560.807362
376,Democratic Republic of the Congo,2019,US$,4.448754e+10,4.731963e+10,545.216282
377,Democratic Republic of the Congo,2020,US$,4.525958e+10,4.530767e+10,505.883924

In [75]:
gdp_all.nlargest(10, 'GDP')

     Country/Area  Year Unit  GDP_constant           GDP        GDP_pc   oecd
1432        World  2019  US$  8.431033e+13  8.771828e+13  11374.853086  False
1431        World  2018  US$  8.226322e+13  8.635771e+13  11319.302402  False
1433        World  2020  US$  8.148890e+13  8.534702e+13  10951.886853  False
1430        World  2017  US$  7.972358e+13  8.123101e+13  10764.727927  False
1429        World  2016  US$  7.715274e+13  7.635494e+13  10232.198580  False
1428        World  2015  US$  7.513297e+13  7.513297e+13  10183.351506  False
76           Asia  2019  US$  3.208129e+13  3.316627e+13   7208.631482  False
77           Asia  2020  US$  3.175040e+13  3.308988e+13   7130.531780  False
75           Asia  2018  US$  3.092400e+13  3.228122e+13   7078.890008  False
74           Asia  2017  US$  2.954848e+13  2.988729e+13   6614.302782  False

In [15]:
gdp_5_year_avg[gdp_5_year_avg['Country/Area'].isin(countries.name)].nlargest(10, 'GDP')

      Country/Area    Year  GDP_constant           GDP        GDP_pc
229  United States  2017.5  1.904914e+13  1.986237e+13  60894.038573
106          Japan  2017.5  4.504633e+12  4.937146e+12  38789.934998
85         Germany  2017.5  3.484164e+12  3.704436e+12  44698.038042
80          France  2017.5  2.503166e+12  2.609132e+12  38887.557487
98           India  2017.5  2.483188e+12  2.562952e+12   1902.619704
104          Italy  2017.5  1.859183e+12  1.943920e+12  32081.597554
30          Brazil  2017.5  1.780261e+12  1.818184e+12   8722.885757
39          Canada  2017.5  1.615970e+12  1.640222e+12  44443.235030
13       Australia  2017.5  1.312766e+12  1.372859e+12  55489.935545
203          Spain  2017.5  1.249362e+12  1.305877e+12  27968.655965

In [16]:
gdp_5_year_avg[gdp_5_year_avg['Country/Area'].isin(countries.name)].nlargest(10, 'GDP_pc')

       Country/Area    Year  GDP_constant           GDP         GDP_pc
139          Monaco  2017.5  6.486946e+09  6.758881e+09  175426.598537
122   Liechtenstein  2017.5  6.607756e+09  6.562542e+09  173441.423104
25          Bermuda  2017.5  6.781341e+09  7.187375e+09  114242.611114
124      Luxembourg  2017.5  6.424601e+10  6.712802e+10  112243.800068
41   Cayman Islands  2017.5  5.224937e+09  5.456370e+09   85454.212773
210     Switzerland  2017.5  7.323025e+11  7.202891e+11   84885.347828
102         Ireland  2017.5  3.381922e+11  3.559453e+11   74122.315490
158          Norway  2017.5  3.981444e+11  3.930079e+11   73963.537486
97          Iceland  2017.5  1.937198e+10  2.264692e+10   67426.430077
229   United States  2017.5  1.904914e+13  1.986237e+13   60894.038573

# Languages

In [55]:
df_lang = pd.read_csv('distance/languages.csv')
df_lang['Country'] = df_lang.Country.apply(lambda c: c if ']' not in c else c[:c.find('[')])
df_lang.to_csv('distance/langs.csv', index=False)

In [53]:
df_lang[df_lang['Official language'].str.contains('Spanish')]

,Country,Official language,Regional language,Minority language,National language,Widely spoken
7,Argentina,None (Spanish has de facto status),Spanish (in Corrientes and Chaco)[7][8] Guaran...,NaN,NaN,NaN
23,Bolivia,Spanish 37 other languages,NaN,NaN,NaN,NaN
38,Chile,None (Spanish has de facto status),(Languages of ethnic groups are official in th...,NaN,Spanish,NaN
42,Colombia,Spanish,(Languages of ethnic groups are official in th...,NaN,NaN,NaN
47,Costa Rica,Spanish,NaN,Indigenous languages[48] Limonese Creole[49],NaN,NaN
49,Cuba,Spanish,NaN,NaN,NaN,NaN
56,Dominican Republic,Spanish,NaN,NaN,NaN,NaN
59,Ecuador,Spanish Quechua (official language of intercul...,NaN,Kichwa (official minority language) Shuar (off...,NaN,NaN
61,El Salvador,Spanish,NaN,NaN,NaN,NaN
62,Equatorial Guinea,French Portuguese Spanish,NaN,NaN,NaN,NaN
79,Guatemala,Spanish,NaN,NaN,NaN,NaN
85,Honduras,Spanish,Garifuna (on the Caribbean Coast) English (in ...,NaN,NaN,NaN
131,Mexico,None (Spanish has de facto status),NaN,NaN,None (Spanish has de facto status),NaN
146,Nicaragua,Spanish,NaN,NaN,NaN,NaN
160,Panama,Spanish,NaN,NaN,NaN,NaN
162,Paraguay,Spanish Guaraní,NaN,NaN,NaN,NaN
163,Peru,Spanish Aymara Quechua,NaN,NaN,NaN,NaN
174,Sahrawi Arab Democratic Republic,Tamazight Arabic Spanish,NaN,NaN,NaN,NaN
195,Spain,Spanish,"Catalan (Balearic Islands, Catalonia, Valencia...",Astur-Leonese (Asturias) Aragonese (Aragon) Fa...,NaN,NaN
222,Uruguay,None (Spanish has de facto status),NaN,NaN,NaN,NaN
227,Venezuela,Spanish Venezuelan Sign Language,NaN,NaN,NaN,NaN